body{
    background: linear-gradient(#7d8fe0, rgb(75, 109, 119));
   
}
header{
    margin: 1em 3em ;
}
.main{
    margin: 1em 3em ;
}
#banner {
    width: 100%;
    height: 300px;
}

.navbar {
   
    height: 10px;
    margin: 5px 0px;
    
}
.menu{
    background-color: rgba(7, 7, 7, 0.3);
    margin: 0px;
   /*transition: 900ms   */
    
}

nav ul {

    padding: 20px 1px;
    text-align: center;
   
    /*background: rgb(0, 0, 0);*/   
}

nav li {
    
    display: inline;
    margin: 0 5px ;
    padding: 19px;
    font: menu;
    text-transform: uppercase;
    transition: 400ms;    
}

.navbar a {
    color: seashell;
    text-decoration: none;
    
}

nav li, a:hover {
    cursor: pointer;
    /*transition: 400ms;*/
    
}
nav li:hover {
    cursor: pointer;
    background: royalblue;
    box-shadow:  10px 5px 5px black 
}
/*.principal p {
   
    margin: 0 0 1em;
    position:static;
}
*/
.titulo {
 
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
}

.grid-container{
    display: grid;
    grid-template-columns:33.33% 33.33% 33.33% ;
    padding: 3px;
    margin-top: 3em;
    width: 99%;
    grid-gap: .3em;
  
}

.grid-item{
    border: 1px solid rgba(7, 7, 7, 0.3);
    padding: 5px;
    grid-template-columns: 50px 50px;
}

.grid-item-cap{
    border: 2px solid rgba(7, 7, 7, 0.3);
    padding: 5px;
    background-color: rgba(230, 205, 240, 0.3);     
}

.img-capa{
    margin: 0px 0px 0px 60px;
    padding: 5px;
    
}
.grid-item-cont{
    border: 1px solid rgba(7, 7, 7, 0.3);
    padding: 18px;
}
.titulo{
    text-align: center;
    font-family: 'Lexend Mega', sans-serif;
}
.texto{
    font-family: 'Lexend Mega', sans-serif;
    font-size: 1.2em;
    font-weight: 80;
    text-align:justify;
}
.grid-item-star{
    border: 1px solid rgba(7, 7, 7, 0.3);
    padding: 20px;
    
}

.rodape {

    background: rgb(196, 137, 211);
    text-align: center;
    margin: 10px ;
    padding:  10px; 
    position:absolute;
    height: 10px; 
    width:211vh
}

.copyright {
    margin: -1px;
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');